<!DOCTYPE html>
<html lang="en">
<head>
    <title>Internet Toxicology Test</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>Results of the test:</h1>
<h2>I am pretty sure that comment is {{phrase}}!</h2>
    <form action = "thanks/" method = "POST">
    <fieldset>
        <legend>Did I guess correctly?</legend>
        <p>
            <input type="radio" name="yes_no" id = "yes" value = "yes">Yes</input>
        </p>
        <p>
            <input type="radio" name="yes_no" id = "no" value = "no">No
        </p>
        <p><input type = "submit" value = "submit"/></p>
    </fieldset>
    </form>
</body>
</html>